Project3Task2Client/src/META-INF/wsdl/localhost_8080/Project3Task2Server/WebServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xianz2.cmu.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xianz2.cmu.edu/" name="WebServer">
<types>
<xsd:schema>
<xsd:import namespace="http://xianz2.cmu.edu/" schemaLocation="http://localhost:8080/Project3Task2Server/WebServer?xsd=1"/>
</xsd:schema>
</types>
<message name="verify">
<part name="parameters" element="tns:verify"/>
</message>
<message name="verifyResponse">
<part name="parameters" element="tns:verifyResponse"/>
</message>
<message name="operationer">
<part name="parameters" element="tns:operationer"/>
</message>
<message name="operationerResponse">
<part name="parameters" element="tns:operationerResponse"/>
</message>
<message name="addBolck">
<part name="parameters" element="tns:addBolck"/>
</message>
<message name="addBolckResponse">
<part name="parameters" element="tns:addBolckResponse"/>
</message>
<message name="splitString">
<part name="parameters" element="tns:splitString"/>
</message>
<message name="splitStringResponse">
<part name="parameters" element="tns:splitStringResponse"/>
</message>
<message name="viewChain">
<part name="parameters" element="tns:viewChain"/>
</message>
<message name="viewChainResponse">
<part name="parameters" element="tns:viewChainResponse"/>
</message>
<message name="isValidate">
<part name="parameters" element="tns:isValidate"/>
</message>
<message name="isValidateResponse">
<part name="parameters" element="tns:isValidateResponse"/>
</message>
<message name="strToBig">
<part name="parameters" element="tns:strToBig"/>
</message>
<message name="strToBigResponse">
<part name="parameters" element="tns:strToBigResponse"/>
</message>
<portType name="WebServer">
<operation name="verify">
<input wsam:Action="http://xianz2.cmu.edu/WebServer/verifyRequest" message="tns:verify"/>
<output wsam:Action="http://xianz2.cmu.edu/WebServer/verifyResponse" message="tns:verifyResponse"/>
</operation>
<operation name="operationer">
<input wsam:Action="http://xianz2.cmu.edu/WebServer/operationerRequest" message="tns:operationer"/>
<output wsam:Action="http://xianz2.cmu.edu/WebServer/operationerResponse" message="tns:operationerResponse"/>
</operation>
<operation name="addBolck">
<input wsam:Action="http://xianz2.cmu.edu/WebServer/addBolckRequest" message="tns:addBolck"/>
<output wsam:Action="http://xianz2.cmu.edu/WebServer/addBolckResponse" message="tns:addBolckResponse"/>
</operation>
<operation name="splitString">
<input wsam:Action="http://xianz2.cmu.edu/WebServer/splitStringRequest" message="tns:splitString"/>
<output wsam:Action="http://xianz2.cmu.edu/WebServer/splitStringResponse" message="tns:splitStringResponse"/>
</operation>
<operation name="viewChain">
<input wsam:Action="http://xianz2.cmu.edu/WebServer/viewChainRequest" message="tns:viewChain"/>
<output wsam:Action="http://xianz2.cmu.edu/WebServer/viewChainResponse" message="tns:viewChainResponse"/>
</operation>
<operation name="isValidate">
<input wsam:Action="http://xianz2.cmu.edu/WebServer/isValidateRequest" message="tns:isValidate"/>
<output wsam:Action="http://xianz2.cmu.edu/WebServer/isValidateResponse" message="tns:isValidateResponse"/>
</operation>
<operation name="strToBig">
<input wsam:Action="http://xianz2.cmu.edu/WebServer/strToBigRequest" message="tns:strToBig"/>
<output wsam:Action="http://xianz2.cmu.edu/WebServer/strToBigResponse" message="tns:strToBigResponse"/>
</operation>
</portType>
<binding name="WebServerPortBinding" type="tns:WebServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="verify">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operationer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBolck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="splitString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewChain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isValidate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="strToBig">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServer">
<port name="WebServerPort" binding="tns:WebServerPortBinding">
<soap:address location="http://localhost:8080/Project3Task2Server/WebServer"/>
</port>
</service>
</definitions>